html {
  position: relative;
  min-height: 100%; }

body {
  background-color: #26244F;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 15px;
  color: #26244F; }

h1{
  color: #fff;
}

a {
  color: #fff; }
  a:hover, a:focus {
    color: #fff;
    text-decoration: none; }

th {
  font-weight: 600; }

.page-title {
  color: #fff;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 300; }

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-top: 15px;
  padding-bottom: 10px; }

.copyright {
  margin-bottom: 0;
  text-align: right;
  font-size: 13px; }
  @media screen and (max-width: 767px) {
    .copyright {
      text-align: center;
      position: relative !important; } }

/********************
 * LAYOUT
 ********************/
 /* LOGIN */
 .main-head{
  height: 150px;
  background: #FFF;
 
}

.sidenav {
  height: 100%;
  overflow-x: hidden;
  padding-top: 20px;
  margin-top: -20px;
  background-image: url("../img/claude.jpg");
  opacity: 0.2;
  z-index: 1;
}

.login-form h2{
  color: #fff;
} 

.main {
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
    left: 0;
    overflow-x: hidden;
  }
  .login-form h2{
    color: #fff;
  }
}

@media screen and (max-width: 450px) {
  .login-form{
      margin-top: 10%;
  }
  .login-form h2{
    color: #fff;
  }
}

@media screen and (min-width: 768px){
  .main{
      margin-left: 40%; 
  }

  .sidenav{
      width: 40%;
      position: fixed;
      overflow: none;
      background-image: url("../img/claude.jpg");
      opacity: 0.2;
      z-index: 1;
      left: 0;
  }

  .login-form{
      margin-top: 20%;
      padding: 0 200px 0 200px;
  }

  .login-form h2{
    color: #fff;
  }

  .login-form .panel-body .form-group{
    padding-top: 20px;
  }
  .login-form .panel-body .form-group .form-control{
    padding: 25px;
  }

  .login-form .panel-body .checkbox{
    color: #fff;
    margin-bottom: 30px;
  }
  .login-form .panel-body .checkbox a{
    color: #745FF8;
  }
  .login-form .panel-body .checkbox a:hover{
    color: #35346c;
  }
  .login-form .panel-body a{
    text-align: right;
  }
  .login-form .panel-body p{
    color: #fff;
  }
  .login-form .panel-body p a{
    color: #745FF8;
  }
  .login-form .panel-body p a:hover{
    color: #35346c;
  }
}

.login-main-text{
  margin-top: 20%;
  padding: 60px;
  color: #fff;
}

.login-main-text h2{
  font-weight: 300;
}

 /* END LOGIN*/
 /* SIGN UP */
 .side-image {
  height: 100%;
  overflow-x: hidden;
  padding-top: 20px;
  margin-top: -20px;
  background-image: url("../img/gunranger.jpg");
  opacity: 0.2;
  z-index: 1;
}
@media screen and (max-height: 450px) {
  .side-image {
    padding-top: 15px;
    left: 0;
    overflow-x: hidden;
  }
}

 @media screen and (min-width: 768px){
  .side-image{
    width: 40%;
    position: fixed;
    overflow: none;
    background-image: url("../img/gunranger.jpg");
    background: cover;
    opacity: 0.2;
    z-index: 1;
    left: 0;
  }
}
 .login-form .panel-body .radio{
   color: #fff;
 }
 /* END SIGN UP */
#wrapper .sidebar {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 260px;
  height: 100%;
  float: left;
  background-color: #35346D;
  position: fixed;
  left: 0; }

#wrapper .sidebar .nav li a img{
  width: 15%; 
  margin-top: -3%;
  margin-right: 5%;
}

#wrapper .main {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: calc(100% - 260px);
  left: 0;
  position: relative;
  float: right;
  background-color: #26244F; }
  body{padding-top:20px;}

  /* BRACKET */

.hero {position:relative; text-align: center; overflow: hidden; color: #fcfcfc; }
.hero h1 {font-family: 'Holtwood One SC', serif;font-weight: normal;font-size: 5.4em;margin:0 0 20px; text-shadow:0 0 12px rgba(0, 0, 0, 0.5);text-transform: uppercase;letter-spacing:-1px;}
.hero p {font-family: 'Abel', sans-serif;text-transform: uppercase; color: #5CCA87; letter-spacing: 6px;text-shadow:0 0 12px rgba(0, 0, 0, 0.5);font-size: 1.2em;}
.hero-wrap {padding: 3.5em 10px;}
.hero p.intro {font-family: 'Holtwood One SC', serif;text-transform: uppercase;letter-spacing: 1px;font-size: 3em;margin-bottom:-40px;}
.hero p.year {color: #fff; letter-spacing: 20px; font-size: 34px; margin: -25px 0 25px;}
.hero p.year i {font-size: 14px;vertical-align: middle;}
#bracket {overflow:hidden;background-color: #e1e1e1;background-color:#35346D;padding-top: 20px;font-size: 12px;padding: 40px 0; border-radius: 20px;}
section .container-fluid {margin: 0 auto;display:block;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: -webkit-flex;display: flex;-webkit-flex-direction:row;flex-direction: row;}
.split {display:block;float:left;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display:flex;width: 42%;-webkit-flex-direction:row;-moz-flex-direction:row;flex-direction:row;}
.champion {float:left;display:block;width: 16%;-webkit-flex-direction:row;flex-direction:row;-webkit-align-self:center;align-self:center;margin-top: -15px;text-align: center;padding: 230px 0\9;} 
.champion i {color: #a0a6a8; font-size: 45px;padding: 10px 0; }
.round {display:block;float:left;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display:flex;-webkit-flex-direction:column;flex-direction:column;width:95%;width:30.8333%\9;}
.split-two {}
.split-one .round {margin: 0 2.5% 0 0;}
.split-two .round {margin: 0 0 0 2.5%;}
.matchup {margin:0;width: 100%;padding: 10px 0;-webkit-transition: all 0.2s;transition: all 0.2s;}
.score {font-size: 11px;text-transform: uppercase;float: right;color: rgb(116, 95, 248);;font-weight: bold;font-family: 'Roboto Condensed', sans-serif;position: absolute;right: 5px;}
.team {padding: 0 5px;margin: 3px 0;height: 25px; line-height: 25px;white-space: nowrap; overflow: hidden;position: relative;}
.round-two .matchup {margin:0;padding: 50px 0;}
.round-three .matchup {margin:0;padding: 130px 0;}
.round-details {font-family: 'Roboto Condensed', sans-serif; font-size: 13px; color: #fff;;text-transform: uppercase;text-align: center;height: 40px;}
.champion li, .round li {background-color: #26244F;box-shadow: none; opacity: 0.45;}
.current li {opacity: 1;}
.current li.team {background-color: #26244F;box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);opacity: 1;}
.vote-options {display: block;height: 52px;}
.share .container-fluid {margin: 0 auto; text-align: center;}
.share-icon {font-size: 24px; color: #fff;padding: 25px;}
.share-wrap {max-width: 1100px; text-align: center; margin: 60px auto;}
.final {margin: 4.5em 0;}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.share-icon {color: #fff; opacity: 0.35; }
.share-icon:hover { opacity:1;  -webkit-animation: pulse 0.5s; animation: pulse 0.5s;}
.date {font-size: 10px; letter-spacing: 2px;font-family: 'Istok Web', sans-serif;color:rgb(116, 95, 248);}



@media screen and (min-width: 981px) and (max-width: 1099px) {
  section .container-fluid {margin: 0 1%;}
  .champion {width: 14%;}
  .split {width:43%; }
  .split-one .vote-box {margin-left: 138px;}
  .hero p.intro {font-size: 28px;}
  .hero p.year {margin: 5px 0 10px;}

}

@media screen and (max-width: 980px) {
  section .container-fluid {-webkit-flex-direction:column;-moz-flex-direction:column;flex-direction:column;}
  .split, .champion {width: 90%;margin: 35px 5%;}
  .champion {-webkit-box-ordinal-group:3;-moz-box-ordinal-group:3;-ms-flex-order:3;-webkit-order:3;order:3;}
  .split {border-bottom: 1px solid #b6b6b6; padding-bottom: 20px;}
  .hero p.intro {font-size: 24px;}
  .hero h1 {font-size: 3em; margin: 15px 0;}
  .hero p {font-size: 1em;}
}


@media screen and (max-width: 400px) {

  .split {width: 95%;margin: 25px 2.5%;}
  .round {width:21%;}
  .current {-webkit-flex-grow:1;-moz-flex-grow:1;flex-grow:1;}
  .hero h1 {font-size: 2.15em; letter-spacing: 0;margin:0; }
  .hero p.intro {font-size: 1.15em;margin-bottom: -10px;}
  .round-details {font-size: 90%;}
  .hero-wrap {padding: 2.5em;}
  .hero p.year {margin: 5px 0 10px; font-size: 18px;}

}
/* END BRACKET */
  
    /*Dashboard Page*/
    .team_columns_carousel_control_icons {
        line-height: 35px;
        font-size: 25px!important;
        font-weight: normal!important;
    }
    .team-control-btn{
      padding-top: 20px;
    }
    .carousel-landing{
      padding-top: 10px;
    }
    .case-landing {
      position: relative;
      display: inline-block;
      width: 100%;
      margin: 20px;
      background-size: cover;
      border-radius: 10px;
      color: white;
    }
  
    .case-landing__overlay {
      width: 100%;
      position: relative;
      top: 180px;
      z-index: 50;
  
    }
    
    .case-landing__title {
      text-align: center;
      font-size: large;
      font-weight: bold;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      padding-top: 10px;
      height: 50px;
      position: relative;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 1)), color-stop(1,black));
    }
    
    .case-landing:hover .case-landing__link {
      top: 0;
    }

    .case-landing:hover .case-landing__title {
      background: #745FF8;
    }
    .case-landing:hover .case-landing__overlay:after {
      opacity: .75;
    }

    .container-fluid .product .product-match {
      background: #745FF8;
      flex: 3;
    }

    .head-text{
      color: white;
      font-weight: bold;
      padding-left: 4%;
    }

    .head-Machticker{
      color: white;
      font-weight: bold;
    }

    .rowDashboard{
      text-align: center;
    }

    /*Landing Image*/
    .landing1 {
      height: 250px;
      width: 260px;
    }
    .landing2 {
      height: 250px;
      width: 300px;
    }
    /* End Landing Image*/

    /*Matchticker*/
    .panel-matchticker{
      background-color: transparent !important; 
      border: none !important;
    }

    .table-matchticker{
      background-color:#35346c; 
      border-radius: 6px; 
      box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.5);
    }
    .table-matchticker-img{
      width: 90px; 
      height: 80px;
    }

    .text-versus{
      padding-top: 20px; 
      padding-right: 25px;
    }

    .table-matchticker-content{
      background-color: #26254f; 
      margin-top: 20px;
    }

    
    /*End Matchticker*/
    
  /* End Landding Page */

  /* Team Page */
    .imgPanelteam{
      width: 50%;
    }

    .colPanelTeam{
      top: 100px; 
      margin-top: 10px;
    }

    .panel-Create{
      padding-top: 30px;
    }

  .panel-team{
    height: 380px;
    width: 400px;
    background-color: #35346c;
    margin: 0 auto;
    border-radius: 15px;
    text-align: center;
    color: white;
  }
  .panel-team:hover{
    height: 380px;
    width: 400px;
    background-color: #745FF8;
    margin: 0 auto;
    border-radius: 15px;
    text-align: center;
    color: white;
  }

  .panel-myteam{
    height: 150px;
    width: 500px;
    background-color: #35346c;
    border-radius: 15px;
    color: white;
  }

  .panel-team-member{
    height: 150px;
    width: 600px;
    background-color: #35346c;
    border-radius: 15px;
    color: white;
    align-items: center;
    text-align: center;
  }

  .panel-statistic{
    height: 250px;
    width: 500px;
    background-color: #35346c;
    border-radius: 15px;
    color: white;
  }

  .panel-description{
    height: 250px;
    width: 600px;
    background-color: #35346c;
    border-radius: 15px;
    color: white;
  }

  .panel-find-dropdown{
    margin: 10px;
    height: 80px;
    width: 150px;
    background-color: #35346c;
    border-radius: 15px;
    color: white;
    text-align: center;
  }

  .panel-btn-find{
    margin: 10px;
    height: 80px;
    width: 150px;
    text-align: center;
    background-color: #35346c;
    border-radius: 15px;
    color: white;
    text-align: center;
  }
    .panel-btn-find:hover{
      margin: 10px;
      height: 80px;
      width: 150px;
      text-align: center;
      background-color: #745FF8;
      border-radius: 15px;
      color: white;
      text-align: center
    }

  .select-team{
    border: transparent;
    background: #35346c;
  }

  .btn-find-dropdown{
    background: none;
    border: none;
    color: white;
  }

  .find-image{
      height: 80px;
      width: 80px;
  }
  .find-text{
    color: white;
    padding-top: 15px;
  }

  /* End Page Team*/

  /* Page Team Details */
.main .main-content .panel h3{
  padding-bottom: 10px;
}
.main .main-content .panel-body .member{
  text-align: center;
}
.main .main-content .panel-body .member p{
  color: #745FF8;
}
.main .main-content .panel-body .team-overview a {
  margin: 80px 10px 0 0;
}
.main .main-content .panel span > a{
  margin-right: 10px;
}
.main .main-content .panel-body .team-static{
  text-align: center;
}
.main .main-content .panel-body .team-static h4{
  padding-bottom: 20px;
  text-align: start;
}

/* Modals team page */
.sms-send-page-wrapper{
  background: #f6f9fc;

font-family: 'Abel', sans-serif;

}

.sms-send-page .pull-left p {
color: #5b6773;
margin: 0;
}
.sms-send-page .pull-left small {
color: #637282;
font-size: 13px;
}
.sms-send-page .pull-left {
line-height: 18px;
}
.sms-send-page .list-group-item {
padding: 14px;
  border: 1px solid #e6e8eb;
   position: relative;
}
.sms-send-page .pull-right .btn {
border: medium none;
border-radius: 23px;
font-size: 14px;
font-weight: 900;
padding: 8px 20px;
text-transform: uppercase;
}
.sms-send-page .list-group {
box-shadow: 0 0 11px #eceeef;
margin: 120px 0px;
}
.sms-send-page .list-group-item:first-child {
border-top-left-radius: 2px;
border-top-right-radius: 2px;
}
.sms-send-page .list-group-item:last-child {
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
margin-bottom: 0;
}
.sms-send-page .btn
{
float: right;
}
.sms-send-page .btn-success
{

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#15ad0c+0,007a00+100 */
background: #15ad0c; /* Old browsers */
background: -moz-linear-gradient(left, #15ad0c 0%, #007a00 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #15ad0c 0%,#007a00 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #15ad0c 0%,#007a00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#15ad0c', endColorstr='#007a00',GradientType=1 ); /* IE6-9 */
}
.sms-send-page .btn-success:hover
{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#007a00+0,15ad0c+100 */
background: #007a00; /* Old browsers */
background: -moz-linear-gradient(left, #007a00 0%, #15ad0c 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #007a00 0%,#15ad0c 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #007a00 0%,#15ad0c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007a00', endColorstr='#15ad0c',GradientType=1 ); /* IE6-9 */
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus {
outline: medium none;
outline-offset: 0;
}
.sms-send-page .pull-left, .sms-send-page .pull-right{
padding: 0px;
}
.sms-send-page .pull-left img {
width: 37px;
height: 37px;
float: left;
margin-right: 10px;
}
.sms-send-page .pull-left small .fa {
font-size: 9px;
vertical-align: middle;
}
  /* END Team Details */

  /*Search Result*/
  .thText{
    color: white;
  }

  .thTitle{
    font-weight: bold;
  }

  /*Friend Page*/

  .title-friend{
    color: white;
    font-size: x-large;
  }

  .text-friend{
    color: white;
    font-size: larger;
  }

  .friend-page .btnAdd{
    padding-top: 10px;
  }

  .btnRquest{
    padding-top: 20px;
  }

  .img-friend{
    width: 60px;
    border-radius: 50px; 
    align-items: center;
  }

  .panel-friend{
    font-size: 135%;
  }

  .panel-friend-detail{
    width: 100%;
    align-items: center;
    text-align: center;
    align-content: center;
    background-color:  #35346D;
    color: #fff;
    border-radius: 30px;
  }

  .img-panel-friend{
    width: 35%;
    border-radius: 100%; 
    align-items: center;
  }

  .pillsFriend{
    font-weight: bold; 
    font-size: 140%;
  }
  .pillsOverview{
    font-weight: bold; 
    font-size: 140%;
  }
  
  .pillsRequest{
    margin-left: 40% !important; 
    margin-bottom: 2%;
  }
  .pillsBracket{
    margin-left: 20% !important; 
    margin-bottom: 2%;
  }
  .pillsRules{
    margin-left: 20% !important; 
    margin-bottom: 2%;
  }

  .marginPils{
    margin-top: 5%;
  }
  
  /*End Friend Page*/

  /*Media Screen*/

  @media(max-width:812px){

    .panel-friend-detail{
      width: 45%;
      margin-left: 25%;
    }

    .img-panel-friend{
      width: 35%;
    }

    .friend-page{
      padding-top: 0px;
    }

    .panel-friend{
      font-size: 105%;
    }

    .text-view{
      font-size: 80%;
    }

    .case-landing {
      margin-left : 8%;
    }

    .landing1 {
      width: 200px;
      height: 180px;
    }
    .landing2 {
      width: 280px;
      height: 180px;
    }
    
    .pillsRequest{
      margin-left: 3% !important; 
    }
    .pillsBracket{
      margin-left: 3% !important; 
    }
    .pillsRules{
      margin-left: 3% !important; 
    }

    .pillsFriend{
      font-size: 100%;
    }
    .pillsOverview{
      font-size: 100%;
    }
    
    /* Banner */
    .prizepool{
      text-align: start !important;
    }

    .container-fluid .product .product-info .product-content .table{
      margin-top: -100px;
    }
    /* end */

    /* Team Details */
    .main .main-content .panel-body .team-overview a{
      margin-top: 30px !important;
    }

    .main .main-content .panel h3{
      font-size: 18px;
    }
    .main .main-content .panel span > a{
      font-size: 12px;
    }
    
    .main .main-content .panel span > .btn{
      margin-right: 4px !important;
      padding: 1px 4px 1px 4px !important;
    }
    /* End */

    /* Tournament */

    .container-fluid .product .product-info .product-content .table {
      margin : 0 !important;
    }
    .container-fluid .product{
      height: 100% !important;
    }

    .container-fluid .product .product-info .product-content .buttons {
      margin: 30px 0 20px 0 !important;
      text-align: start !important;
    }
    .container-fluid .product .product-info .product-content .buttons .btn-success{
      text-align: center;
      display: block;
      width: 100%;
    }
    
    /* End */

    .case-landing__overlay {
      top: 112px;
    }

    .panel-Create{
      padding-top: 10px;
    }

    .colPanelTeam{
      top: 0; 
      margin-top: 20px;
    }

    .imgPanelteam{
      width: 35%;
    }

    .panel-team{
      height: 250px;
      width: 300px;
    }
  }

  @media(max-width:414px){

    .pillsFriend{
      font-size: 100%;
    }
    .pillsOverview{
      font-size: 100%;
    }

    .pillsRequest{
      margin-left: 4% !important; 
    }
    .pillsBracket{
      margin-left: 4% !important; 
    }

    .panel-friend-detail{
      width: 70%;
      margin-left: 16%;
    }

    .img-panel-friend{
      width: 40%;
    }

    .landing1 {
      width: 250px;
      height: 180px;
    }
    
    .landing2 {
      width: 250px;
      height: 180px;
    }

    .case-landing__overlay {
      top: 112px;
    }

    .panel-Create{
      padding-top: 10px;
    }

    .colPanelTeam{
      top: 10px; 
      margin-top: 20px;
    }

    .imgPanelteam{
      width: 35%;
    }

    .panel-team{
      height: 220px;
      width: 200px;
    }
  }


  /*End Media Screen*/
  

  /*End Friend Page*/
  /* TOURNAMENT */
.prizepool{
  margin-top: 20px;
  text-align: end;
  opacity: 0.8;
}
.prizepool h3{
  margin-right: 40px;
}
.prizepool h4{
  margin-top: 30px;
}
.panel-title{
  font-weight: 100;
  letter-spacing: 2px;
}
/* MENU GAME */
.menu-box .box{
  background-color: #745FF8;
  border-radius: 10px; 
  padding: 40px 10px;
  margin: 20px 0px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.menu-box .box img{
  max-width: 70%;
}

.menu-box .box:hover{
 box-shadow: 0 0 10px  #745FF8;
}


.menu-box .box .box-btn a{
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.fa{
   color:#4183D7;
}
/* END TOURNAMENT */
  /* Product */
  .container-fluid {
    width: 100%;
    height: 100%;
  }
  .container-fluid .product {
    width: 100%;
    height: 300px;
    display: flex;
    margin: 1em 0;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0px 0px 21px 3px rgba(0, 0, 0, 0.15);
    transition: all .1s ease-in-out;
    margin-top: 40px;
  }
  .container-fluid .product:hover {
    box-shadow: 0px 0px 21px 3px rgba(0, 0, 0, 0.11);
  }
  .container-fluid .product .img-container {
    flex: 2;
  }
  .container-fluid .product .img-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .container-fluid .product .product-info {
    background: #35346D;
    flex: 3;
  }
  .container-fluid .product .product-info .product-content {
    color: #fff;
    padding: .2em 0 .2em 1em;
  }
  .container-fluid .product .product-info .product-content .table{
    margin-top: 100px;
  }
  .table>tbody>tr>td, .table>tbody>tr>th,
  .table>tfoot>tr>td, .table>tfoot>tr>th,
  .table>thead>tr>td, .table>thead>tr>th
  {
    border: 0
  }
  .container-fluid .product .product-info .product-content h1 {
    font-size: 1.5em;
  }
  .container-fluid .product .product-info .product-content p {
    font-size: .9em;
    font-weight: bold;
    width: 90%;
  }
  .container-fluid .product .product-info .product-content ul li {
    font-size: .9em;
    margin-left: 0;
  }
  .container-fluid .product .product-info .product-content .buttons {
    margin-top: 120px;
    text-align: end;
    padding-top: .4em;
  }
  .container-fluid .product .product-info .product-content .buttons .button {
    text-decoration: none;
    font-weight: bold;
    padding: .3em .65em;
    border-radius: 2.3px;
    transition: all .1s ease-in-out;
  }
  .container-fluid .product .product-info .product-content .buttons .add {
    border: 1px #fff solid;
  }
  .container-fluid .product .product-info .product-content .buttons .add:hover {
    border-color: #745FF8;
    color: #745FF8;
  }
  .container-fluid .product .product-info .product-content .buttons .buy {
    border-radius: 30px;
    font-size: 16px;
    margin-right: 20px;
    padding: 5px 30px 5px 30px;
    border: 1px #fff solid;
  }
  .container-fluid .product .product-info .product-content .buttons .buy:hover {
    border-color: #35346D;
    color: #35346D;
  }
  /* End Product */

  /* Jumbotron */
  .jumbotron{
    border-radius:0px!important;
    box-shadow:1px 1px 4px rgba(0,0,0,0.4);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/esldota.jpg); 
    position: relative;
    min-height: 50vh;
    color: #fff;
  }

  /* End Jumbotron */

  /* Collapse */
.wrapper_bu {
    position: absolute;
    width: 100%;
}
.wrapper_bu > .image:hover{
  background-color: #745FF8 !important;
}
#bu1 > .title:hover{
  color: #6CB2E2;
}
#bu1 > .title:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #6CB2E2;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#bu1 > .title:hover:before{
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
#bu2 > .title:hover{
  color: #6CB2E2;
}
#bu2 > .title:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #6CB2E2;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#bu2 > .title:hover:before{
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
#bu3 > .title:hover{
  color: #6CB2E2;
}
#bu3 > .title:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #6CB2E2;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#bu3 > .title:hover:before{
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.txt_h1 {
    font-size: 2em;
}

.holder_bu {
    cursor: pointer;
}

.holder_bu_awayL1 {
    position: absolute;
    top: 0;
    left: 0%;
    width: 33.3%;
    -webkit-transition: width 1s, height 1s, top 1s, left 1s;
    -moz-transition: width 1s, height 1s, top 1s, left 1s;
    -o-transition: width 1s, height 1s, top 1s, left 1s;
    -ms-transition: width 1s, height 1s, top 1s, left 1s;
    transition: width 1s, height 1s, top 1s, left 1s;
}

.holder_bu_awayL2 {
    position: absolute;
    top: 0;
    left: 66%;
    width: 33.3%;
    -webkit-transition: width 1s, height 1s, top 1s, left 1s;
    -moz-transition: width 1s, height 1s, top 1s, left 1s;
    -o-transition: width 1s, height 1s, top 1s, left 1s;
    -ms-transition: width 1s, height 1s, top 1s, left 1s;
    transition: width 1s, height 1s, top 1s, left 1s;
}

.holder_bu_center {
    position: absolute;
    top: 0;
    left: 33%;
    width: 33.3%;
    -webkit-transition: width 1s, height 1s, top 1s, left 1s;
    -moz-transition: width 1s, height 1s, top 1s, left 1s;
    -o-transition: width 1s, height 1s, top 1s, left 1s;
    -ms-transition: width 1s, height 1s, top 1s, left 1s;
    transition: width 1s, height 1s, top 1s, left 1s;
}

.holder_bu_awayR1 {
    position: absolute;
    top: 0;
    left: 80%;
    width: 10%;
    height: 40%;
    -webkit-transition: width 1s, height 1s, top 1s, left 1s;
    -moz-transition: width 1s, height 1s, top 1s, left 1s;
    -o-transition: width 1s, height 1s, top 1s, left 1s;
    -ms-transition: width 1s, height 1s, top 1s, left 1s;
    transition: width 1s, height 1s, top 1s, left 1s;
}

.holder_bu_awayR2 {
    position: absolute;
    top: 0;
    left: 90%;
    width: 10%;
    height: 30%;
    -webkit-transition: width 1s, height 1s, top 1s, left 1s;
    -moz-transition: width 1s, height 1s, top 1s, left 1s;
    -o-transition: width 1s, height 1s, top 1s, left 1s;
    -ms-transition: width 1s, height 1s, top 1s, left 1s;
    transition: width 1s, height 1s, top 1s, left 1s;
}

.wrapper_bu {
    height: 115px;
    position: relative;
}

.panel-default {
    border: none;
}
.panel-heading {
    padding:0px;
}

.title.active {
    font-size: 17px;
    /*font-family: ProximaNovaBold;*/
    background-color: #745FF8;
    color: #181818;
    line-height: 20px;
}

.title {
    font-size: 15px;
    color: #fff;
    margin: 25px 0px 0px 0px;
    text-transform: uppercase;
}

.image img 
{
    display:inline-block;
}
  /* End Collapse */
  /* MODAL */
  .main-content .modal-content{
    border-radius: 20px;
    background-color: #35346D;
  }
  .main-content .panel .modal-content .modal-header .close{
    padding-bottom: 20px;
    color: #fff;
  }
  .main-content .panel .modal-content .modal-header .close:hover{
    padding-bottom: 20px;
    color: #35346D;
  }
  @media (min-width: 1024px){
    .modal-dialog {
      width : 40%;
    }
  }
  .main-content .panel .modal-content .modal-header,
  .main-content .panel .modal-content .modal-body .modal-footer{
    border: none;
  }
  /* END MODAL */
  /* Wizard */
  .main-content .panel .modal-content .modal-header .stepwizard-step p {
      margin-top: 0px;
      color:#745FF8;
  }
  .main-content .panel .modal-content .modal-header .stepwizard-row {
      display: table-row;
  }
  .main-content .panel .modal-content .modal-header .stepwizard {
      display: table;
      width: 100%;
      position: relative;
  }
  .main-content .panel .modal-content .modal-header .stepwizard-step button[disabled] {
      /*opacity: 1 !important;
      filter: alpha(opacity=100) !important;*/
  }
  .main-content .panel .modal-content .modal-header .stepwizard .btn.disabled, .stepwizard .btn[disabled], .stepwizard fieldset[disabled] .btn {
      opacity:1 !important;
      color:#bbb;
  }
  .main-content .panel .modal-content .modal-header .stepwizard-row:before {
      top: 14px;
      bottom: 0;
      position: absolute;
      content:" ";
      width: 100%;
      height: 1px;
      background-color: #ccc;
      z-index: 0;
  }
  .main-content .panel .modal-content .modal-header .stepwizard-step {
      display: table-cell;
      text-align: center;
      position: relative;
  }
  .main-content .panel .modal-content .modal-header .btn-circle {
      width: 30px;
      height: 30px;
      text-align: center;
      padding: 6px 0;
      font-size: 12px;
      line-height: 1.428571429;
      border-radius: 15px;
  }
    /* End Wizard */
    .dd-pointer-down{
      border-top: solid 5px #745FF8 !important;
    }
    .dd-pointer-up{
      border-bottom: solid 5px #745FF8 !important;
    }
    .dd-select{
      border: none !important;
    }
    .dd-selected{
      background-color: #26244F;
      border: none !important;
    }
    .dd-selected-text{
      color: #fff !important;
      border: none !important;
    }
    .dd-selected-desc{
      color: #fff !important;
      border: none !important;
    }
    .dd-option{
      background: #26244F !important;
      box-shadow: none;
      border-bottom: solid 2px #745FF8 !important;
      border-top: solid 2px #745FF8 !important;
    }
    .dd-options{
      background: #26244F !important;
      box-shadow: none !important;
      border: none !important;
    }
    .dd-option:hover{
      background-color: #745FF8 !important;
    }
    .dd-option-selected{
      background-color: #745FF8 !important;
    }
    .dd-option-select:hover{
      background-color: #745FF8 !important;
    }
    .dd-option-text{
      color: #fff !important;
      border: none !important;
    }
    .dd-option-desc{
      color: #fff !important;
      border: none !important;
    }
  /* Payment */
  .bank a{
    text-align: end;
  }
  .bank .bank-item{
    border-radius: 10px;
    padding: 10px;
    background-color: #26244F;
    max-height: 230px !important;
    overflow-y: auto !important;
  }
  .bank .bank-item h3 {
    margin-top: 5px;
    font-size: 18px;
    margin-bottom: 0;
  }

  .bank .bank-item .payment{
  }

  .bank > a{
    color: #745FF8;
  }

  .bank > a:hover{
    color: #5c46ec;
  }

  .bank .bank-item .payment h2{
    margin-top: 0;
  }
  
  .bank .bank-item p {
    margin-bottom: 0;
  }
  
  .bank .bank-item .description {
    margin-left: 20px;
    overflow: hidden;
    float: left;
  }
  
  .bank .bank-item .description p {
    font-weight: normal;
    font-size: 16px;
    text-align: left;
  }

  .bank .bank-item .summary p{
    padding-left: 20px;
    text-align: end;
  }
  
  .bank .bank-item .bank-image {
    width: 100px;
    float: left;
  }
  /* Payment */

#wrapper #sidebar-nav{
  padding-top: 220px;
}

#wrapper .main {
  padding-top: 70px; }

@media screen and (max-width: 767px) {
  #wrapper #sidebar-nav,
  #wrapper .main {
    padding-top: 130px; } }

.layout-fullwidth #wrapper .sidebar {
  left: -260px; }

.layout-fullwidth #wrapper .main {
  width: 100%; }

.layout-fullwidth #wrapper .navbar {
  left: 0 !important; }

.layout-fullwidth #wrapper .btn-toggle-fullwidth {
  color: #745FF8; }

.offcanvas-active #wrapper .sidebar {
  left: 0; }

.offcanvas-active #wrapper .main {
  width: 100%;
  position: relative;
  left: 260px; }

@media screen and (max-width: 1024px) {
  #wrapper .sidebar {
    left: -260px; }
  #wrapper .main {
    width: 100%; }
  #wrapper .navbar {
    left: 0 !important; }
  #wrapper .btn-toggle-fullwidth {
    color: #fff; }
  .btn-toggle-minified {
    display: none; } }

.main-content {
  padding: 10px 10px; }

.navbar + .main-content {
  padding: 105px 0 28px 5px; }
  @media screen and (max-width: 767px) {
    .navbar + .main-content {
      padding-top: 155px; } }

html.fullscreen-bg,
html.fullscreen-bg body,
html.fullscreen-bg #wrapper {
  height: 100%; }

.vertical-align-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  display: table; }

.vertical-align-middle {
  display: table-cell;
  vertical-align: middle; }

/********************
 * TOP NAVIGATION
 ********************/
.navbar-default {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  border: none;
  background-color: #35346D; }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #745FF8; }
  .navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #745FF8; }
  .navbar-default .brand {
    float: left;
    padding: 30px 39px;
    background-color: #35346D; }
  @media screen and (max-width: 1024px) {
    .navbar-default .brand {
      padding-left: 30px;
      padding-right: 15px; } }
  @media screen and (max-width: 992px) {
    .navbar-default .brand {
      display: none; } }
  @media screen and (max-width: 640px) {
    .navbar-default #navbar-menu {
      float: right; } }

.navbar-btn {
  float: left;
  padding: 16px 0; }
  .navbar-btn button {
    color: #fff;
    font-size: 24px;
    padding: 4px 8px;
    line-height: .7;
    border: none;
    background: none;
    outline: none; }
  @media screen and (max-width: 640px) {
    .navbar-btn {
      padding-left: 0; } }

.navbar-btn-right {
  float: right; }

.navbar-form {
  padding: 15px;
  border: 0; }
  .navbar-form input[type="text"] {
    min-width: 200px; }
    .navbar-form .input-group button img{
      width: 15px;
    }
  @media screen and (max-width: 767px) {
    .navbar-form {
      float: left;
      width: 70%;
      margin-left: 5px;
      margin-right: 5px;
      padding-left: 0;
      padding-right: 0; }
      .navbar-form .input-group {
        width: 70%; }
      .navbar-form input[type="text"] {
        min-width: 150px; } }
  @media screen and (max-width: 640px) {
    .navbar-form {
      display: none; } }

.navbar-nav .icon-menu {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding-top: 28px;
  padding-bottom: 28px;
  position: relative; }
  .navbar-nav .icon-menu .badge {
    position: absolute;
    top: 22px;
    right: 16px; }

.navbar-nav > li > a {
  padding: 28px 20px; }
  .navbar-nav > li > a > i {
    color: #fff;
    font-size: 22px;
    margin-right: 2px;
    vertical-align: middle; }
    .navbar-nav > li > a > i:hover{
      color: #745FF8;
    }
    .navbar-nav > li > a > i.icon-submenu {
      margin-left: 2px;
      margin-right: 0;
      font-size: 10px;
      position: relative;
      top: 2px; }
  .navbar-nav > li > a > span {
    color: #fff;
    position: relative;
    top: 2px; }
    .navbar-nav > li > a > span:hover{
      color: #745FF8; 
    }
  .navbar-nav > li > a img {
    width: 22px;
    margin-right: 2px; }

.navbar-nav > li > .dropdown-menu {
  padding: 0;
  min-width: 173px; }

.nav > li > a:hover,
.nav > li > a:focus {
  color: #745FF8;
  background-color: transparent;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  border-bottom: solid #745FF8 ;
  background-color: transparent;
}

.nav-pills2 > li.active > a,
.nav-pills2 > li.active > a:hover,
.nav-pills2 > li.active > a:focus {
  color: #745FF8;
  font-weight: bold;
}


  /* editable */
  /* .navbar-nav > li:hover{
    background-color: #745FF8;
  } */

.navbar-nav .dropdown-menu {
  border-top: 2px solid #745FF8; }

.navbar-nav .dropdown-menu > li > a {
  padding: 10px 20px; }
  .navbar-nav .dropdown-menu > li > a:hover, .navbar-nav .dropdown-menu > li > a:focus {
    background-color: #745FF8; }
  .navbar-nav .dropdown-menu > li > a span,
  .navbar-nav .dropdown-menu > li > a i {
    vertical-align: middle; }

@media screen and (min-width: 768px) {
  .navbar-nav.navbar-right {
    margin-right: 0; } }

@media screen and (max-width: 767px) {
  .navbar-nav {
    width: 100%;
    margin: 0; }
    .navbar-nav > li {
      display: table-cell;
      width: 1%;
      position: inherit;
      text-align: center; }
    .navbar-nav > li > a {
      padding: 15px 20px; }
      .navbar-nav > li > a span:not(.badge),
      .navbar-nav > li > a .icon-submenu {
        display: none; }
    .navbar-nav .open .dropdown-menu {
      -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
      -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
      position: absolute;
      width: 100%;
      margin-top: 3px;
      background-color: #745FF8; }
    .navbar-nav .open .dropdown-menu > li > a {
      padding: 10px 15px; }
    .navbar-nav .icon-menu {
      padding-top: 15px;
      padding-bottom: 15px; }
      .navbar-nav .icon-menu .badge {
        top: 10px;
        right: 15px; } }

.navbar-toggle {
  padding: 5px 8px;
  margin: 20px 15px 20px 0; }
  .navbar-toggle .icon-nav {
    font-size: 24px; }

.notification-item .dot {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 10px;
  height: 10px;
  content: '';
  margin-right: 8px; }

ul.notifications > li {
  border-bottom: 1px solid #745FF8; }
  ul.notifications > li:last-child {
    border-bottom: none; }
  ul.notifications > li > .more {
    background-color: #35346D;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    text-decoration: underline;
    font-weight: 600; }
    ul.notifications > li > .more:hover, ul.notifications > li > .more:focus {
      text-decoration: none; }

.dropdown-menu {
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  background-color: #745FF8;
  border-color: #745FF8; }
  .dropdown-menu > li > a {
    color: #fff; }
  .dropdown-menu > li > .more {
    background-color: #35346D; }
  .dropdown-menu > li i {
    margin-right: 6px; }
  .dropdown-menu .active > a, .dropdown-menu .active > a:focus, .dropdown-menu .active > a:hover {
    background-color: #35346D; }
  .dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:focus, .dropdown-menu > .disabled > a:hover {
    color: #35346D; }

  @media (max-width: 767px){
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #FFF !important;
}}
/********************
 * SIDEBAR NAVIGATION
 ********************/
.sidebar {
  z-index: 9; }
  .sidebar .nav > li > a {
    padding: 18px 30px;
    color: #AEB7C2;
    border-left: 5px solid transparent; }
    .sidebar .nav > li > a:hover, .sidebar .nav > li > a:focus, .sidebar .nav > li > a.active {
      color: #fff;
      background-color: transparent; }
      .sidebar .nav > li > a:hover i, .sidebar .nav > li > a:focus i, .sidebar .nav > li > a.active i {
        color: #fff; }
    .sidebar .nav > li > a:focus, .sidebar .nav > li > a.active {
      background-color: #26244F;
      border-left-color: #745FF8;} /*warna hover*/
    .sidebar .nav > li > a[data-toggle="collapse"] .icon-submenu {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      -ms-transition: all 0.2s ease-out;
      -o-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
      float: right;
      position: relative;
      top: 5px;
      font-size: 12px;
      line-height: 1.1;
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg); }
    .sidebar .nav > li > a[data-toggle="collapse"].collapsed .icon-submenu {
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg); }
    .sidebar .nav > li > a .badge {
      font-weight: 400;
      background-color: #F9354C; }
  .sidebar .nav {
    /* submenu */ }
    .sidebar .nav i {
      color: #fff;
      margin-right: 10px;
      font-size: 18px; }
    .sidebar .nav span {
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      position: relative;
      color: #fff;
      top: -2px; }
    .sidebar .nav .nav {
      background-color: #26244F; }
      .sidebar ul li:hover{
        background-color: #745FF8;
      }
      .sidebar .nav .nav > li > a {
        padding-left: 60px;
        padding-top: 10px;
        padding-bottom: 10px; }
        .sidebar .nav .nav > li > a:focus, .sidebar .nav .nav > li > a.active {
          background-color: transparent;
          border-left-color: transparent; }
        .sidebar .nav .nav > li > a.active a {
          color: #fff; }

/********************
 * TYPOGRAPHY
 ********************/
.text-success {
  color: #41B314; }

.text-warning {
  color: #e4cb10; }

.text-danger {
  color: #F9354C; }

ul.list-justify > li {
  margin-bottom: 5px; }
  ul.list-justify > li span {
    float: right; }
/********************
 * INPUTS
 ********************/
.form-control {
  -moz-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 10px;
  border-color: #eaeaea;
  background-color: #fcfcfc; }
  .form-control:focus {
    -moz-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
    border-color: #d6d6d6;
    background-color: #fff; }

.input-group {
  -moz-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1); }

.input-group .form-control, .input-group-addon, .input-group-btn {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.input-group-addon {
  border: 1px solid #eaeaea; }

/* fancy checkbox and radio button */
.fancy-checkbox {
  display: block;
  font-weight: normal; }
  .fancy-checkbox input[type="checkbox"] {
    display: none; }
    .fancy-checkbox input[type="checkbox"] + span {
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      cursor: pointer;
      position: relative;
      font-size: 13px; }
      .fancy-checkbox input[type="checkbox"] + span:before {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        position: relative;
        bottom: 1px;
        width: 18px;
        height: 18px;
        margin-right: 5px;
        content: "";
        border: 1px solid #ccc; }
    .fancy-checkbox input[type="checkbox"]:checked + span:before {
      font-family: FontAwesome;
      content: '\f00c';
      font-size: 12px;
      color: #99a1a7;
      text-align: center;
      line-height: 16px;
      background: #ededed;
      border: 1px solid #ccc; }
  .fancy-checkbox.custom-color-green input[type="checkbox"]:checked + span:before {
    color: #53D76A;
    background-color: #fff; }
  .fancy-checkbox.custom-bgcolor-green input[type="checkbox"]:checked + span:before {
    color: #fff;
    background-color: #53D76A;
    border-color: #32cf4d; }

.fancy-radio {
  display: block;
  font-weight: normal; }
  .fancy-radio input[type="radio"] {
    display: none; }
    .fancy-radio input[type="radio"] + span {
      display: block;
      cursor: pointer;
      position: relative;
      font-size: 13px; }
      .fancy-radio input[type="radio"] + span i {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        position: relative;
        bottom: 1px;
        content: "";
        border: 1px solid #ccc;
        width: 18px;
        height: 18px;
        margin-right: 5px; }
    .fancy-radio input[type="radio"]:checked + span i:after {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      display: block;
      position: relative;
      top: 3px;
      left: 3px;
      content: '';
      width: 10px;
      height: 10px;
      background-color: #99a1a7; }
  .fancy-radio.custom-color-green input[type="radio"]:checked + span i:after {
    background-color: #53D76A; }
  .fancy-radio.custom-bgcolor-green input[type="radio"]:checked + span i {
    background-color: #53D76A; }
    .fancy-radio.custom-bgcolor-green input[type="radio"]:checked + span i:after {
      background-color: #fff; }

/********************
 * BUTTONS
 ********************/
.btn {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.2);
  padding: 6px 22px; }

.btn-group-lg > .btn,
.btn-lg {
  padding: 15px 15px; }

.btn-group-sm > .btn,
.btn-sm {
  padding: 5px 18px; }

.btn-group-xs > .btn,
.btn-xs {
  padding: 5px 14px; }

.btn-primary {
  background-color: #745FF8;
  border-radius: 10px;
  border-color: #745FF8; }
  .btn-primary:hover, .btn-primary:focus {
    border-radius: 10px;
    background-color: #26244F;
    border-color: #26244F }

.btn-unfriend {
  background-color: #DC143C;
  border-radius: 10px;
  border-color: #DC143C; }
  .btn-unfriend:hover, .btn-unfriend:focus {
    border-radius: 10px;
    background-color: #26244F;
    border-color: #26244F;
    color: white;
  }

.btn-accept {
  background-color: #0d7926;
  border-radius: 10px;
  border-color: #0d7926; }
  .btn-accept:hover, .btn-accept:focus {
    border-radius: 10px;
    background-color: #26244F;
    border-color: #26244F;
    color: white;
  }

.btn-danger {
  border-radius: 10px;
}    

.btn-warning {
  background-color: #e4cb10;
  border-color: #d6be0f; }
  .btn-warning:hover, .btn-warning:focus {
    background-color: #d6be0f;
    border-color: #d6be0f; }

.btn-default:hover, .btn-default:focus {
  background-color: #f7f7f7; }

.btn-success {
  background-color: #41B314;
  border-color: #41B314; }
  .btn-success:hover, .btn-success:focus {
    background-color: #3ca512;
    border-color: #3ca512; }

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  opacity: 0.4;
  filter: alpha(opacity=40); }

/********************
 * PANELS
 ********************/
.panelCustom{
  background-color: transparent !important;
  box-shadow: none !important;
}
#wrapper .main .main-content .panel {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 20px;
  background-color: #35346D;
  color: #fff;
  margin-bottom: 30px; }
  @media screen and (max-width: 768px) {
    #wrapper .main .main-content .panel{
      background-color: #35346D; } }
  .panel .panel-heading,
  .panel .panel-footer {
    padding-left: 25px;
    padding-right: 25px; }
  .panel .panel-heading {
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative; }
    .panel .panel-heading .panel-title {
      margin: 0;
      font-size: 32px;
      font-weight: 300; }
    .panel .panel-heading i {
      padding-right: 20px; }
    .panel .panel-heading .time{
      padding-bottom: 20px;
    }
    .panel button {
      margin-top: -20px;
      outline: none; }
  .panel .panel-note {
    font-size: 13px;
    line-height: 2.6;
    color: #777777; }
    .panel .panel-note i {
      font-size: 16px;
      margin-right: 3px; }
  .panel .right {
    position: absolute;
    right: 20px;
    top: 32%; }
    .panel.panel-headline .panel-heading .panel-title {
      margin-bottom: 8px;
      font-size: 22px;
      font-weight: normal; }
    .panel.panel-headline .panel-heading .panel-subtitle {
      margin-bottom: 0;
      font-size: 14px;
      color: #8D99A8; }
  .panel.panel-scrolling .btn-bottom {
    margin-bottom: 30px; }
  .panel .table > thead > tr > td:first-child,
  .panel .table > thead > tr > th:first-child,
  .panel .table > tbody > tr > td:first-child,
  .panel .table > tbody > tr > th:first-child,
  .panel .table > tfoot > tr > td:first-child,
  .panel .table > tfoot > tr > th:first-child {
    padding-left: 25px; }
  .panel .table > thead > tr > td:last-child,
  .panel .table > thead > tr > th:last-child,
  .panel .table > tbody > tr > td:last-child,
  .panel .table > tbody > tr > th:last-child,
  .panel .table > tfoot > tr > td:last-child,
  .panel .table > tfoot > tr > th:last-child {
    padding-left: 25px; }

.panel-footer {
  background-color: #fafafa; }

/********************
 * ELEMENTS
 ********************/
.collapsing {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }

.label {
  font-weight: normal; }

.metric {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 20px;
  margin-bottom: 30px;
  border: 1px solid #DCE6EB; }
  .metric .icon {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: #0081c2;
    text-align: center; }
    .metric .icon i {
      font-size: 18px;
      color: #fff; }
  .metric p {
    margin-bottom: 0;
    line-height: 1.2;
    text-align: right; }
  .metric .number {
    display: block;
    font-size: 28px;
    font-weight: 300; }
  .metric .title {
    font-size: 16px; }

ul.activity-list > li {
  padding: 25px 0; }
  ul.activity-list > li:not(:last-child) {
    border-bottom: 1px solid #F0F0F0; }
  ul.activity-list > li .avatar {
    width: 40px; }
  ul.activity-list > li > p {
    margin-bottom: 0;
    padding-left: 3.5em; }
  ul.activity-list > li .timestamp {
    display: block;
    font-size: 13px;
    color: #a3a3a3; }

/* task list */
.task-list > li {
  margin-bottom: 32px; }

.task-list p {
  position: relative; }
  .task-list p .label-percent {
    position: absolute;
    right: 0; }

/* bootstrap progress bar */
.progress {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #f1f1f1; }
  .progress.wide {
    width: 60px; }
  .progress .progress-bar {
    -webkit-transition: width 3s ease;
    -moz-transition: width 3s ease;
    -ms-transition: width 3s ease;
    -o-transition: width 3s ease;
    transition: width 3s ease;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .progress.progress-sm {
    height: 12px; }
  .progress.progress-xs {
    height: 5px; }
  .progress.progress-sm .progress-bar, .progress.progress-xs .progress-bar {
    text-indent: -9999px; }

.progress-bar-success {
  background-color: #41B314; }

.progress-bar-warning {
  background-color: #e4cb10; }

.progress-bar-danger {
  background-color: #F9354C; }

.weekly-summary {
  margin-bottom: 30px;
  font-weight: 300; }
  .weekly-summary .number {
    font-size: 36px; }
  .weekly-summary i {
    font-size: 16px;
    margin-left: 10px; }
  .weekly-summary .percentage {
    position: relative;
    top: -7px; }
  .weekly-summary .info-label {
    display: block;
    margin-bottom: 10px;
    font-weight: normal; }

.todo-list > li {
  border-top: 1px solid #F0F0F0;
  position: relative; }
  .todo-list > li:first-child {
    border-top: none; }
  .todo-list > li .fancy-checkbox {
    position: absolute;
    top: 50%;
    margin-top: -11px; }
    .todo-list > li .fancy-checkbox input[type="checkbox"] + span {
      margin-right: 0; }
  .todo-list > li p {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    width: 90%;
    margin: 0;
    padding: 20px 0 20px 35px; }
  .todo-list > li.completed p,
  .todo-list > li.completed .date {
    text-decoration: line-through;
    color: #b4b7b9; }

.todo-list .title {
  font-size: 16px;
  font-weight: 600; }

.todo-list .short-description {
  display: block;
  margin-top: 5px; }

.todo-list .date {
  font-size: 13px;
  color: #a3a3a3; }

.todo-list .controls {
  float: right;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -11px; }
  .todo-list .controls a {
    margin-left: 5px; }

/* toastr notification */
#toast-container > div {
  opacity: 0.9;
  filter: alpha(opacity=90); }
  #toast-container > div, #toast-container > div:hover {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

#toast-container .toast-close-button {
  top: -0.9em; }

.toast a {
  text-decoration: underline; }
  .toast a:hover, .toast a:focus {
    text-decoration: none;
    color: #fff; }

.toast .toast-message {
  font-size: 14px;
  line-height: 2; }

.toast-info {
  background-color: #745FF8; }

.toast-success {
  background-color: #41B314; }

.toast-warning {
  background-color: #e4cb10; }

.toast-danger {
  background-color: #F9354C; }

/* tabs */
.custom-tabs-line ul {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline; }
  .custom-tabs-line ul > li {
    float: left; }
    .custom-tabs-line ul > li a {
      color: #8d9093;
      font-weight: normal; }
      .custom-tabs-line ul > li a:hover, .custom-tabs-line ul > li a:focus {
        color: #676a6d;
        background-color: transparent; }
      .custom-tabs-line ul > li a:focus {
        outline: none; }
  .custom-tabs-line ul.nav-pills a:hover, .custom-tabs-line ul.nav-pills a:focus {
    color: #fff;
    background-color: #745FF8; }

.custom-tabs-line.tabs-line-bottom {
  border-bottom: 1px solid #eaeaea; }
  .custom-tabs-line.tabs-line-bottom ul > li {
    margin-bottom: -1px; }
  .custom-tabs-line.tabs-line-bottom a {
    border-bottom: 1px solid transparent; }
  .custom-tabs-line.tabs-line-bottom .active a {
    border-bottom: 2px solid #745FF8; }

.custom-tabs-line.left-aligned {
  text-align: left; }

.custom-tabs-line.right-aligned {
  text-align: right; }

@media screen and (max-width: 768px) {
  .custom-tabs-line ul li.active > a {
    margin-bottom: -1px; } }

.tab-pane {
  padding: 25px 15px; }

/********************
 * HELPERS
 ********************/
.bg-success {
  background-color: #41B314; }

.bg-warning {
  background-color: #e4cb10; }

.bg-danger {
  background-color: #F9354C; }

.no-padding {
  padding: 0 !important; }

.margin-top-30 {
  margin-top: 20px !important; }

.margin-bottom-30 {
  margin-bottom: 30px !important; }

.margin-right-40 {
  margin-right: 40px !important; }

.padding-top-30 {
  padding-top: 30px !important; }

.padding-bottom-30 {
  padding-bottom: 30px !important; }

/********************
 * PAGE: PROFILE
 ********************/
 
#profilecard{
  background-color:#35356C ;
  border-radius: 20px;
  box-shadow: 7px 7px 10px 2px #22224F "
}
.main .main-content .container-fluid .col-md-12 #gbr{
  width: 150px;
  margin-top: 10%;
  margin-bottom: 5%;
  border-radius: 10px;
  margin-left: 10%;
}
.main .main-content .container-fluid .col-md-12 .col-xs-6 .col-sm-4{
  margin-left: -10%;
}
#listnama{
color: white;
}
#btnaddfriend{
  margin: 20px;
  float: right;
  text-align:center;
}
#biopanel .panel-body{
  margin-left: 5%;
}

#panelimg img{
  width: 20%;
  border-radius: 50px; 
  align-items: center;
}
#teampanel{
  background-color: #25254F;
  margin-left: 5%; 
  border-radius: 15px;
}
#teampanel .col-md-5 img{
  width: 60px;
  height: 70%;
}
#btnviewteam{
  margin-top: 5%; 
  border-radius: 10px; 
  border: none; 
  color: white;
  width: 90px; 
  text-align: center; 
  font-size: 10px;
  display:inline-block; 
  text-align:center
}
#collapse_row  #bu1{
  
  margin-left: 30%;
}
#collapse_row #bu2{
  margin-left: 5%;
}


/*ACTIVE COLLAPSE*/
 .selectedcategoryServices {
  color: #0099e5;
  font-weight: bold;
}

/********************
 * ENDPAGE:PROFILE
 ********************/


 /********************
 * PAGE: CREATE-TEAM
 ********************/
#rowcreate{
  margin-top: 15%;
}
#scrollform-teamcreate{
  color: white;

}
#exampleInputEmail1{
  border-radius: 10px; 
  height: 60px;
  background-color: #35356C;
  border: none; 
  color: white;
}
#custom-select select{
  border-radius: 10px; 
  height: 60px; 
  background-color: #35356C;
  border: none;
  color: white;
}

 /*icon dropdown*/
 #custom-select select {
  /* Hide default arrow */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  /* Style the dropdown box */
  width: 100%;
  padding: 0 10px;
}

#custom-select {
  position: relative;
  
}

#custom-select select, #custom-select::after {
  height: 60px;
}
 
#custom-select::after {
  content: "\25bc"; /* HTML symbol */
  /* Reposition */
  
  position: absolute;
  top: 10px;
  right: 0;
  padding: 0 10px;
  line-height: 40px; /* Vertical center text */
}
#formgroup-teamcreate{
  margin-top: 3%; 
}
#description-teamcreate{
  border-radius: 10px; 
  height: 100px; 
  background-color: #35356C;
  border: none;
  color: white;
}
#btnsubmitteamcreate{
  width: 150px;
  height: 40px; 
  border-radius: 20px;
}

 /********************
 * ENDPAGE:CREATE-TEAM
 ********************/

 /********************
 * PAGE : EDIT-PROFILE
 ********************/

 #avatar{
   color: white;
 }
 #upload_avatar{
  background-color: #35356C;
  padding: 2%; 
  border-radius: 10px;
 }
#inputGroupavatar{
  width: 100%;
}
#button-editprofile{
  float: right;
}
#btnsubmit_editprofile{
  float: right;
  margin: 20px;
  
}
 /********************
 *ENDPAGE : EDIT-PROFILE
 ********************/
/*# sourceMappingURL=main.css.map */