
/* PAGE LOGIN */
#container_login h2{
  text-align: center;
 
}
#form_login{
 width: 80%;
 align-items: center;
 text-align: start;
 
}
#input_username{
 height: 45px;
 
}
#input_password{
 height: 45px;
 border-radius: 5px;
}
#submit_login{
 width: 100%;
 height: 50px;
 background-color: #C0D0EB;
 border: none;
 color: black;
}

/*Tournament Overview*/
.bannerOverview{
  width: 400px; 
  height: 300px;
}

.padNav{
  padding-top: 10px;
}

.padPills{
  padding-left: 18%;
  font-weight: bold;
}

.labelOverview{
  font-weight: bold; 
  font-size: 120%;
}

.padRow{
  padding-top: 30px;
}

.padRule{
  padding-top: 50px;
}

.leftSlot{
  font-weight: bold; 
  padding-left: 90%;
}

.imgTeam{
  width: 200px; 
  height: 100px;
}

.titleTeam{
  text-align: center; 
  font-weight: bold; 
  background-color: white; 
  padding-top: 15px;
}

.mdlText{
  font-weight: bold;
  text-align: center;
}
/*End Tournament Overview*/

/* ENDPAGE LOGIN */